In [118]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import matplotlib
matplotlib.rcParams['figure.figsize'] = (20,10)
import warnings
warnings.filterwarnings('ignore')

In [119]:
social_network = pd.read_csv("Social_Network_Ads.csv")
social_network

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [120]:
social_network.shape

(400, 5)

In [121]:
social_network.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

As we can see there is no Null value

In [122]:
social_network.drop(['User ID'],axis=1, inplace=True)

In [123]:
social_network.replace({'Gender':{'Male':1,'Female':0}},inplace=True)
social_network.head(5)

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [124]:
social_network['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [125]:
x=social_network.drop('Purchased',axis=1)
y=social_network['Purchased']

Scaling Data

In [126]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.20, random_state=0)

In [127]:
x_train.shape

(320, 3)

In [128]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [129]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [130]:
model= Sequential()

In [131]:
model.add(Dense(1,activation = 'sigmoid',input_dim=x_train.shape[1]))

In [132]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 1)                 4
=================================================================
Total params: 4
Trainable params: 4
Non-trainable params: 0
_________________________________________________________________

In [133]:
model.compile(optimizer='Adam',loss = 'binary_crossentropy',metrics=['Accuracy'])

In [134]:
model.fit(x_train,y_train,batch_size=36,epochs=10,verbose=1 )

Epoch 1/10
9/9 [==============================] - 0s 875us/step - loss: 0.4546 - Accuracy: 0.8000
Epoch 2/10
9/9 [==============================] - 0s 875us/step - loss: 0.4532 - Accuracy: 0.8000
Epoch 3/10
9/9 [==============================] - 0s 750us/step - loss: 0.4517 - Accuracy: 0.8000
Epoch 4/10
9/9 [==============================] - 0s 875us/step - loss: 0.4504 - Accuracy: 0.8125
Epoch 5/10
9/9 [==============================] - 0s 875us/step - loss: 0.4491 - Accuracy: 0.8125
Epoch 6/10
9/9 [==============================] - 0s 875us/step - loss: 0.4478 - Accuracy: 0.8156
Epoch 7/10
9/9 [==============================] - 0s 1000us/step - loss: 0.4464 - Accuracy: 0.8125
Epoch 8/10
9/9 [==============================] - 0s 875us/step - loss: 0.4451 - Accuracy: 0.8156
Epoch 9/10
9/9 [==============================] - 0s 875us/step - loss: 0.4440 - Accuracy: 0.8156
Epoch 10/10
9/9 [==============================] - 0s 875us/step - loss: 0.4427 - Accuracy: 0.8156

In [135]:
model.get_weights()

[array([[0.02174944],
        [1.2035846 ],
        [0.89406955]], dtype=float32),
 array([-0.08128644], dtype=float32)]

In [136]:
weights  =np.ones(x_train.shape[1])
bais = 0

print(weights)
print(bais)

[1. 1. 1.]
0